<footer class="site-footer">
  <div class="row">
    <div>
      <div class="row">
        <div class="logo">
          <img src="{{ url_for('static', filename='img/logo_footer.png') }}" alt="Gastos Abertos">
        </div>
        <div class="coordinator">
          <p>É um projeto coordenado pela</p>
          <img src="{{ url_for('static', filename='img/okbr_logo.png') }}" alt="Open Knowledge Brasil">
        </div>
        <div class="support">
          <p>Apoio</p>
          <img src="{{ url_for('static', filename='img/google_logo.png') }}" alt="Google">
        </div>
      </div>
    </div>
    <div>
      <span class="title">Institucional</span>
      <ul>
        <li><a href="#">meta menu link 1</a></li>
        <li><a href="#">meta menu link 2</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Investidores</a></li>
      </ul>
    </div>
    <div>
      <span class="title">Saiba mais</span>
      <ul>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Termos de uso</a></li>
        <li><a href="#">Manifesto e política de dados</a></li>
        <li><a href="#">Sitemap</a></li>
      </ul>
    </div>
  </div>
</footer>
