<header class="site-header fixed">
  <div class="row">
    <nav class="top-bar" data-topbar role="navigation">

      <ul class="title-area">
        <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
        <a href="{{ url_for('root') }}"><li class="name">Gastos Abertos</li></a>
      </ul>
      <section class="top-bar-section">
        <!-- Left Nav Section -->
        <ul class="left">
          <li {% if page.id == 'root' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('root') }}">Home</a></li>
          <li {% if page.id == 'participe' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='participe') }}">Participe</a></li>
          <li {% if page.id in ('blog', 'post') %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='blog') }}">Blog</a></li>
          <li {% if page.id in ('historias', 'historia') %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='historias') }}">Histórias</a></li>
          <li {% if page.id == 'cursos' %}class="active"{% endif %}><a class="page-link" href="/blog/tags/escola_de_dados/" title="Em breve" data-tooltip>Cursos</a></li>
          <!--<li {% if page.id == 'news' %}class="active"{% endif %}><a class="page-link" href="#" title="Em breve" data-tooltip>News</a></li>-->
          <li {% if page.id == 'contratos' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='contratos' ) }}">Contratos</a></li>
          <li {% if page.id == 'orcamento' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='orcamento') }}">Orçamento</a></li>
          <!--
          <li class="has-dropdown"><a class="page-link" href="#">Orçamento</a>
            <ul class="dropdown">
              <li><a href="#">Link Sublevel 1</a></li>
              <li class="active"><a href="#">Tipo, sou grande a beça, grandão mesmo</a></li>
              <li><a href="#">Ok, sou maior ainda que você e uma linha só é muito pouco pra minha linkeza</a></li>
            </ul>
          </li>
          -->
          <li {% if page.id == 'api' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='api') }}">API</a></li>
          <li {% if page.id == 'sobre' %}class="active"{% endif %}><a class="page-link" href="{{ url_for('page', path='sobre') }}">Sobre</a></li>
        </ul>
        <!-- Right Nav Section -->
        <ul class="right">
        </ul>
      </section>

    </nav>
  </div>
</header>
<div class="site-header-fill"></div>
