<div class="about section">
  <div class="row" data-equalizer>
    <div class="about" data-equalizer-watch>
      <img src="{{ url_for('static', filename='img/about_icon.png') }}">
      <strong class="title">Com a plataforma Gastos Abertos, acompanhe de forma simples e direta a gestão financeira da sua cidade</strong>
      <p>Gastos Abertos tem por objetivo facilitar a compreensão das pessoas a respeito dos gastos públicos.</p>
      <p>Queremos engajar a sociedade civil organizada e os veículos de comunicação para que possam estimular os cidadãos a acompanhar e influenciar as tomadas de decisão sobre os gastos públicos.</p>  
    </div>
    <div class="subscribe" data-equalizer-watch>
      <strong class="title">Inscreva-se na nossa lista de e-mails</strong>
      <a href="https://lists.okfn.org/mailman/listinfo/gastosabertos" target="_blank" class="button">Quero me inscrever</a>
    </div>
  </div>
</div>
