<div class="features section">
  <div class="row">
    <div class="feature-group community" id="community">
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-blog.png') }}"><span class="title">Blog</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-cursos.png') }}"><span class="title">Cursos</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-eventos.png') }}"><span class="title">Eventos</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-historias.png') }}"><span class="title">Histórias</span></div>
    </div>
    <div class="feature-group tools" id="tools">
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-api.png') }}"><span class="title">API</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-contratos.png') }}"><span class="title">Contratos</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-orcamentos.png') }}"><span class="title">Orçamento</span></div>
      <div class="feature"><img src="{{ url_for('static', filename='img/icon-tutoriais.png') }}"><span class="title">Tutoriais</span></div>
    </div>

  </div>

</div>
  <div class="participe-callback-wrap"><a href="#" class="button">PARTICIPE</a></div>
  <div class="feature-sec-okbr-img"><img src="{{ url_for('static', filename='img/logo_okbr-header.png') }}"></div>
