<div class="features section">
  <div class="feature-groups-titles">
    <div class="feature-group-title community"><a href="#community" class="title">Faça Parte</a></div>
    <div class="feature-group-title tools"><a href="#tools" class="title">Ferramentas</a></div>
  </div>
  <div class="row">
    <div class="feature-group community" id="community">
      <div class="feature"><span class="title">Blog</span></div>
      <div class="feature"><span class="title">Cursos</span></div>
      <div class="feature"><span class="title">Eventos</span></div>
      <div class="feature"><span class="title">Histórias</span></div>
    </div>
    <div class="feature-group tools" id="tools">
      <div class="feature"><span class="title">APIs</span></div>
      <div class="feature"><span class="title">Contratos</span></div>
      <div class="feature"><span class="title">Orçamento</span></div>
      <div class="feature"><span class="title">Tutoriais</span></div>
    </div>
  </div>
</div>
