<div class="slider section owl-carousel owl-theme">
  <div class="slide-1 slide" style="background: #848484;">
      <a href="/blog/2015/11/26/okbr_participa_do_evento_open_development_camp_em_haia/" target="_blank">
        <img src="{{ url_for('static', filename='img/slides/slidertom.jpg') }}" width="1513" height="324">
      </a>
  </div>
  <div class="slide-2 slide" style="background: #509f83;">
      <a href="http://escoladedados.org/2015/11/12/confira-a-lista-de-selecionados-para-a-primeira-edicao-do-curso-de-dados-orcamentarios-em-sp/" target="_blank">
        <img src="{{ url_for('static', filename='img/slides/slider2curso.jpg') }}" width="1513" height="324">
      </a>
  </div>
</div>
