<div class="slider section owl-carousel owl-theme">
  <div class="slide-1 slide" style="background: #848484;">
      <a href="http://www.opendevelopmentcamp.org/" target="_blank">
        <img src="{{ url_for('static', filename='img/slides/slidertom.jpg') }}" width="1513" height="324">
      </a>
  </div>
  <div class="slide-2 slide" style="background: #509f83;">
      <a href="http://br.okfn.org/2015/10/27/escola-de-dados-oferece-curso-gratuito-para-jornalistas-em-sao-paulo-sobre-dados-orcamentarios//" target="_blank">
        <img src="{{ url_for('static', filename='img/slides/slider2curso.jpg') }}" width="1513" height="324">
      </a>
  </div>
</div>
