<div class="slider  owl-carousel owl-theme row">
  <div class="slide-1 slide" >
  	<div class="h-slider-img-wrap">
      <a href="/blog/2016/2/25/gastos_abertos_elabora_carta_compromisso_para_entidades_que_desejarem_aderir_ao_programa/" target="_blank" class="large-8 large-offset-2 columns">
        	<img src="{{ url_for('static', filename='img/slides/slide1.png') }}" width="1513" height="324">
      </a>
  	</div>
  </div>
  <div class="slide-2 slide" >
  	<div class="h-slider-img-wrap">
      <a href="/blog/2016/2/23/explicando_a_teoria_de_mudanca_que_norteia_o_gastos_abertos/" target="_blank" class="large-8 large-offset-2 columns"><img src="{{ url_for('static', filename='img/slides/slide2.png') }}" width="1513" height="324">
      </a>
  	</div>
  </div>
</div>
