{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}


{% block title %}API{% endblock %}

{% block content %}
  {% call title() %}APIs{% endcall %}
  <div class="page-head landingpage">
    <div class="row">
      <div class="content">
        <div class="feature icon"><img src="{{ url_for('static', filename='img/icon_estrutura-03.png') }}"></div>
        <div class="feature text">Aqui você encontra nossas <strong>APIs</strong> para obtenção e análise dos <strong>dados</strong> do município de São Paulo</div>
      </div>
    </div>
  </div>
  <div class="{% if page.class %}{{ page.class }}{% endif %}" {% if page.id %}id="{{ page.id }}"{% endif %}>
    <!--
    <div class="page-subhead landingpage">
      <div class="row">
          <p>
      </div>
    </div>
    -->

    <div class="page-block landingpage">
      <div class="page-block-title">
        <h2>Mas o que é uma API?</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
            <p>API vem do inglês e significa 'Application Programming Interface' ('Interface de Programação de Aplicações'), que especifica como componentes de um software devem interagir uns com os outros. No nosso contexto, isso significa que vamos retornar diferentes conjuntos de dados para os programadores ou interessados usarem, permitindo seu uso e manipulação em suas próprias aplicações.
          </div>
            <p>Este serviço, do Gastos Abertos, cria diversas oportunidades para quem não necessariamente tem conhecimento, tempo e recursos para pegar todos os dados do orçamento sozinho, mas está cheio de ideias sobre como usá-los. Então, se você tem uma ideia que precisa apenas dos dados orçamentários para tornar-se realidade, não hesite em <a href="mailto:api@gastosabertos.org">nos contatar</a> ou até mesmo contribuir com nosso <a href="https://github.com/okfn-brasil/gastos_abertos">repositório no GitHub</a>. Queremos que todos os dados orçamentários do país tenham uma API!
          </div>
        </div>
        </div>
      </div>
    </div>

    <div class="page-block landingpage">
      <div class="page-block-title">
        <h2>Nossas APIs</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <a href="http://api.gastosabertos.org/" target="_blank" class="button">Veja a documentação das nossas APIs e experimente fazer algumas requisições iterativamente</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
      api_url = '{{ config['API_URL'] }}';
    </script>
{% endblock %}
