<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title> - Gastos Abertos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
      <script src="../bower_components/respond/dest/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header>
      <h1><a href="{{ url_for('page', path='/') }}" class="navbar-brand">Gastos Abertos</a></h1>
      <ul class="menu">
        <li><a href="/receitas">Receitas</a></li>
        <li><a href="/planejamento">Planejamento</a></li>
        <li><a href="/execucao">Execução</a></li>
      </ul>
    </header>

    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
    <div class="extracontent">
      {% block extracontent %}
      {% endblock extracontent %}
    </div>

    <footer>
      <p>2015 - OKFN Brasil</p>
    </footer>

   <script src="{{ url_for('static', filename='vendor/requirejs/js/require.js') }}"></script>
   <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
  {% block script %}
  {% endblock script %}
  </body>
</html>
