<!doctype html>
{% block head %}
  <title>{% block title %}Página Inicial{% endblock %} | Gastos Abertos</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
    <script src="../bower_components/respond/dest/respond.min.js"></script>
  <![endif]-->

  <meta charset=utf-8>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
{% endblock %}
<header>
  {% block body_title %}
    <!--{{ self.title() }}-->
    <h1><a href="/">Gastoas Abertos</a></h1>
  {% endblock %}
  <nav>
    <a href="{{ url_for('page', path='receitas') }}">receitas</a>
    <a href="{{ url_for('page', path='planejamento') }}">planejamento</a>
    <a href="{{ url_for('page', path='execucao') }}">execução</a>
  </nav>
</header>
  {% for message in get_flashed_messages() %}
    <p class=message>{{ message }}
  {% endfor %}

  <div class="container">
    {% block body %}<todo></todo>{% endblock %}

  <p class=footer>
    &copy; 2015 - OKFN Brasil

   <script src="{{ url_for('static', filename='vendor/requirejs/js/require.js') }}"></script>
   <script src="{{ url_for('static', filename='javascripts/config.js') }}"></script>
  {% block script %}
    <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
  {% endblock script %}
  </body>
</html>
