{% from 'macros/page_title.html' import title %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="acuKRhq17S_L0nDfBk1iu3PpPAVbHFjweigkCF-tzWw" />
    <title>Gastos Abertos - {% block title %}{% endblock %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600,400italic' rel='stylesheet'>
    <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="/static/vendor/owl-carousel/owl.theme.css">
    <link rel="stylesheet" href="/static/css/app.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="icon" type="image/png" href="/static/img/favicon.png">
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
    {% block head %}
    {% endblock %}
    {% block style %}
    {% endblock %}
  </head>
  <body>

<!-- HEADER :: START -->  
    <div class="page-wrap">
      {% include 'includes/header.html' %}
      <!-- .page-wrap should be closed before .site-footer -->
<!-- HEADER :: END -->

<!-- CONTENT :: START -->
      {% block content %}
      {% endblock %}
<!-- CONTENT :: END -->

<!-- FOOTER :: START -->
    <!-- close .page-wrap -->
    </div>
    {% include 'includes/footer.html' %}
<!-- FOOTER :: END -->
    <script src="{{ url_for('static', filename='vendor/requirejs/js/require.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/config.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/jquery/js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/foundation/js/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/owl-carousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
    {% block script %}
    {% endblock %}
  </body>
</html>

