{% extends "base.html" %}

{% block head %}
  {{ super() }}
  <style type="text/css">
    table { color: black; }
    tr:hover { background: initial !important; }
    tr.odd:hover { background: #f6f6f6 !important; }
    td .filter {
      color: #6eaa5c;
      cursor: pointer;
    }
    tr.objeto td {
      border-top: 1px solid gray !important;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='vendor/datatables/css/jquery.dataTables.css') }}">
{% endblock %}

{% block title %}Contratos{% endblock %}

{% block content %}
  {% call title() %}Contratos - <small>Município de São Paulo</small>{% endcall %}
  <div class="page-head">
    <div class="row">
      <div class="content">Aqui você encontrará dados sobre os contratos firmados pela Prefeitura de São Paulo em 2014</div>
    </div>
  </div>
  {% include 'includes/search/contratos.html' %}
  <div class="row">
    <div class="content">
      <table id="data-table" class="display" cellspacing="0" width="100%">
      </table>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script src="{{ url_for('static', filename='vendor/jquery/js/jquery.js') }}"></script>
  <script type="text/javascript">
    api_url = '{{ config['API_URL'] }}';
  </script>
  <script src="{{ url_for('static', filename='javascripts/contratos/main.js') }}"></script>
{% endblock %}
