{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}




{% block content %}

  <div class="page-head landingpage contratos-page-heading">
    <div class="row">
      <div class="content">
        <div class="feature text">Aqui é possível encontrar dados detalhados dos contratos assinados pelo Município de São Paulo durante o ano de 2014<!-- TODO: atualizar o texto quando tivermos 2015 -->.</div>
      </div>
    </div>
  </div>
  <div class="{% if page.class %}{{ page.class }}{% endif %}" {% if page.id %}id="{{ page.id }}"{% endif %}>
    <div class="page-subhead landingpage">
      <div class="row">
          <p>A navegação engloba informações como CNPJ das empresas prestadoras de serviços, descrição do contrato (qualquer palavra presente na descrição do contrato é listada, como “material hospitalar”, “alimentos”, etc.), número e modalidade da licitação, nome do fornecedor.
          <p>Estes dados são informados pela própria Prefeitura de São Paulo em seu Portal da Transparência desde o ano de 2014
      </div>
    </div>
    <div class="page-block landingpage">
      <div class="page-block-title">
        <h2>Ferramentas</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
            <h3>Contratos de São Paulo 2014</h3>
            <p>Clique no botão abaixo para ir para ferramenta:
            <p><a class="button" href="{{ url_for('page', path='contratos/sp/sao_paulo' ) }}">Contratos da Prefeitura de São Paulo</a>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div>

    <div class="page-block landingpage fonte-de-dados">
      <div class="page-block-title">
        <h2>Fontes de dados dos contratos de São Paulo</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
            <h3>Links</h3>
            <p><a href="http://www.capital.sp.gov.br/portal/" target="_blank">http://www.capital.sp.gov.br/portal/</a><br>
            <a href="http://transparencia.prefeitura.sp.gov.br/" target="_blank">http://transparencia.prefeitura.sp.gov.br/</a>
          </div>
          <div>
            <h3>Saiba como os dados foram processados, analisados e disponibilizados em nossa API</h3>
            <p><a href="#" title="Em breve" data-tooltip>gastosabertos.org.br{{ url_for('page', path='api/contratos' ) }}</a>
          </div>
        </div>
      </div>
    </div>

    <!--div class="page-block landingpage">
      <div class="page-block-title">
        <h2>API de dados da Receita de São Paulo</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div-->
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
      api_url = '{{ config['API_URL'] }}';
    </script>
{% endblock %}
