{% extends "base.html" %}

{% block head %}
  {{ super() }}
{% endblock %}



{% block content %}
  <div class="page-head landingpage orcamento-page-heading">
    <div class="row">
      <div class="content">
        <div class="feature text">Aqui você encontrará dados detalhados da <strong>Arrecadação</strong> do munícipio de São Paulo (2008 a 2014).</div>
      </div>
    </div>
  </div>
  <div class="{% if page.class %}{{ page.class }}{% endif %}" {% if page.id %}id="{{ page.id }}"{% endif %}>
    <div class="page-subhead landingpage">
      <div class="row">
        <div>
          <p>Você poderá ver (e baixar) detalhes do recolhimento do IPTU, do ISS e de outros impostos, taxas e transferências.
          <p>A partir desses dados, você poderá analisar séries históricas, variações e picos e poderá comparar esses dados com fatos (como o desbaratamento da chamada <a href="http://www.prefeitura.sp.gov.br/cidade/secretarias/comunicacao/noticias/?p=160129" target="_blank">"máfia do ISS"</a>, ocorrido em 2013) e com outras bases (como taxa de desemprego, taxa de crescimento de setores da economia).
        </div>
        <div>
          <p>Você também encontrará um <a href="http://transparencia.prefeitura.sp.gov.br/contas/Documents/Receitas_detalhamento_municipal.pdf" target="_blank">glossário</a> para entender melhor as informações publicadas e alguns graficos e tabelas para você visualizar melhor os ddos.
        </div>
        <div>
          <p>Mas caso você tenha alguma demanda ou sugestão entre em contato conosco!
          <p>Basta participar da nossa <a href="https://lists.okfn.org/mailman/listinfo/gastosabertos" target="_blank">lista de discussão</a>.
        </div>
      </div>
    </div>
    <div class="page-block landingpage">
      <div class="page-block-title">
        <h2>Ferramentas</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
            <h3>Receitas de São Paulo 2008 até 2014</h3>
            <p>Escolha um dos anos para os quais há dados disponíveis (2008 a 2014) e veja o gráfico e a tabela relativos à arrecadação do ano selecionado.
            <p>Você poderá detalhar cada uma das três categorias de receita listadas:
            <ul>
              <li>Receitas correntes</li>
              <li>Receitas de capital</li>
              <li>Deduções</li>
            </ul>
            <p>Clique no botão abaixo para ir para ferramenta:
            <p><a class="button" href="{{ url_for('page', path='receitas/sp/sao_paulo' ) }}">Receita Anual Prefeitura de São Paulo</a>
          </div>
          <div>
            <p><img src="{{ url_for('static', filename='img/graficoreceita.jpg') }}">
          </div>
        </div>
      </div>
    </div>

    <div class="page-block landingpage fonte-de-dados">
      <div class="page-block-title">
        <h2>Fontes de dados da Receita de São Paulo</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
            <h3>Links</h3>
            <p><a href="http://www.capital.sp.gov.br/portal/" target="_blank">http://www.capital.sp.gov.br/portal/</a><br>
            <a href="http://transparencia.prefeitura.sp.gov.br/" target="_blank">http://transparencia.prefeitura.sp.gov.br/</a>
          </div>
          <div>
            <h3>Saiba como os dados foram processados, analisados e disponibilizados em nossa API</h3>
            <p><a href="http://api.gastosabertos.org">api.gastosabertos.org.br</a>
          </div>
        </div>
      </div>
    </div>

    <!--div class="page-block landingpage">
      <div class="page-block-title">
        <h2>API de dados da Receita de São Paulo</h2>
      </div>
      <div class="row">
        <div class="page-block-content">
          <div>
          </div>
          <div>
          </div>
        </div>
      </div>
    </div-->
  </div>
{% endblock %}

{% block script %}
    <script type="text/javascript">
      api_url = '{{ config['API_URL'] }}';
    </script>
{% endblock %}
