{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- ROOT :: START -->
    <!-- SLIDER -->
    {% include 'includes/root/slider.html' %}

    <!-- FEATURES -->
    {% include 'includes/root/features_section.html' %}

    <!-- CONTENT HIGHLIGHTS -->
    <div class="content section">
      <div class="content-highlights posts subsection">
        <div class="row" data-equalizer="posts">
          <span class="title">Posts:</span>
          <div data-equalizer-watch="posts">
            <a class="content-preview post">
              <div class="content-preview-header">
                <div class="title">
                  Título do Post, prever linhas
                </div>
                <div class"content-preview-info">
                  <div class="tags">Orçamento | Planejamento | Cases</div>
                </div>
              </div>
            </a>
          </div>

          <div data-equalizer-watch="posts">
            <a class="content-preview post">
              <div class="content-preview-header">
                <div class="title">
                  Hotspot Wi-Fi em Sampa
                </div>
                <div class"content-preview-info">
                  <div class="tags">WiFi | Cases</div>
                </div>
              </div>
            </a>
          </div>

          <div data-equalizer-watch="posts">
            <a class="content-preview post">
              <div class="content-preview-header">
                <div class="title">
                  Título do Post
                </div>
                <div class"content-preview-info">
                  <div class="tags">Orçamento | Planejamento | Cases</div>
                </div>
              </div>
            </a>
          </div>

          <div data-equalizer-watch="posts">
            <a class="content-preview post">
              <div class="content-preview-header">
                <div class="title">
                  Hotspot Wi-Fi em Sampa
                </div>
                <div class"content-preview-info">
                  <div class="tags">WiFi | Cases</div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="content-highlights news subsection">
        <div class="row" data-equalizer="news">
          <span class="title">Notícias:</span>
          <div data-equalizer-watch="posts">
            <a class="content-preview news">
              <div class="content-preview-header">
                <div class="title">
                  Projeto Gastos Abertos é Notícia No Estado de São Paulo, Zero Hora e Correio Brasiliense
                </div>
                <div class"content-preview-info">
                  <div class="author">por Natalia Mazotte</div>
                </div>
              </div>
            </a>
          </div>

          <div data-equalizer-watch="posts">
            <a class="content-preview news">
              <div class="content-preview-header">
                <div class="title">
                  Encontro Sobre a Participação Social no Planejamento Urbano
                </div>
                <div class"content-preview-info">
                  <div class="author">por Sergio Spagnuelo</div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="content-highlights events subsection">
        <div class="row" data-equalizer="events">
          <span class="title">Eventos:</span>
          <div data-equalizer-watch="events">A</div>
          <div data-equalizer-watch="events">B</div>
        </div>
      </div>
    </div>

    <!-- ABOUT -->
    {% include 'includes/root/about_section.html' %}

    <!-- FOLLOW -->
    {% include 'includes/root/follow_section.html' %}
  <!-- ROOT :: END -->
{% endblock content %}

{% block script %}
  <script src="{{ url_for('static', filename='javascripts/main.js') }}"></script>
{% endblock script %}
