{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <!-- ROOT :: START -->
  <section class="top-features">
    <!-- SLIDER -->
    {% include 'includes/root/slider.html' %}

    <!-- FEATURES -->
    {% include 'includes/root/features_section.html' %}
  </section>  

    <!-- CONTENT HIGHLIGHTS -->
    <div class="content section">
      <div class="content-highlights posts subsection">
        <div class="row" data-equalizer="posts">
          <span class="title">Posts Recentes:</span>

        {% for post in posts[0:4] %}
        {% if post.published %}
        <div data-equalizer-watch="posts" class="content-preview-container">
          <a href="{{ post.permalink }}" class="content-preview post" title="{{ post.title }}">
            <div class="content-preview-cover" style="{% if post.cover %}background-image: url({{ url_for('static', filename=post.cover) }}){% endif %}">
            </div>
            <div class="content-preview-header">
              <div class="title">
                {{ post.title | truncate(35) }}
              </div>
              <div class"content-preview-info">
                {{ post.date.strftime('%d/%m/%Y') }} | {{ post.author.name }}
              </div>
            </div>
          </a>
          <div>
            <div class="content-preview-excerpt">
              {{ post.html | striptags | truncate(200) }}
              <div class="content-preview-readmore"><a href="{{ post.permalink }}">Saiba mais</a></div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        </div>
      </div>

      <hr>

<!--
      <div class="content-highlights news subsection">
        <div class="row" data-equalizer="news">
          <span class="title">Notícias:</span>
          <div data-equalizer-watch="posts">
            <a class="content-preview news">
              <div class="content-preview-header">
                <div class="title">
                  Projeto Gastos Abertos é Notícia No Estado de São Paulo, Zero Hora e Correio Brasiliense
                </div>
                <div class"content-preview-info">
                  <div class="author">por Natalia Mazotte</div>
                </div>
              </div>
            </a>
          </div>

          <div data-equalizer-watch="posts">
            <a class="content-preview news">
              <div class="content-preview-header">
                <div class="title">
                  Encontro Sobre a Participação Social no Planejamento Urbano
                </div>
                <div class"content-preview-info">
                  <div class="author">por Sergio Spagnuelo</div>
                </div>
              </div>
            </a>
          </div>

        </div>
      </div>

      <div class="content-highlights events subsection">
        <div class="row" data-equalizer="events">
          <span class="title">Eventos:</span>
          <div data-equalizer-watch="events">A</div>
          <div data-equalizer-watch="events">B</div>
        </div>
      </div>
-->
    </div>

    <!-- ABOUT -->
    {% include 'includes/root/about_section.html' %}

    <!-- FOLLOW -->
    {% include 'includes/root/follow_section.html' %}
  <!-- ROOT :: END -->
{% endblock content %}

{% block script %}
  <!--<script src="{{ url_for('static', filename='javascripts/main.js') }}"></script> -->
{% endblock script %}
